* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
}

p,
li {
  font-size: 18px;
}

.dark-green {
  color: #406e45;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  margin: 8px;
  border-radius: 50%;
  border: 2px solid grey;
  border-color: grey transparent grey transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
